/*body*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
/*header*/

header {
    background: #ff7f50;
    color: white;
    padding: 20px 0;
    text-align: center;
}


}
/*container*/

.container {
    width: 80%;
    margin: 0 auto;
}
/*navigation menu*/

nav ul {
    list-style: none;
    padding: 0px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
/*hero*/

.hero {
    text-align: center;
    padding: 50px 0;
    background: #f9f9f9;
}

.hero .button {
    background: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

/*products*/
#products {
    padding: 40px 0;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    width: 200px;
}
.product img {
    width: 100%;
}

/*price*/
.price {
    font-weight: bold;
    color: #ff6347;
}
/*about*/

.about {
    margin: 10px;
    width: 200px;

}

/*team*/

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.team-member {
    text-align: center;
    margin: 20px;
    width: 200px;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
}
/*services*/


#services {
    padding: 40px 0;
    background: #f9f9f9;
}
.service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}


/*contact*/
#contact {
    padding: 40px 0;
    background: #f9f9f9;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #333;
    color: black;
    border: solid #ccc;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}
/
/*projects*/

#projects {
    padding: 40px 0;
}

.project-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin:15px;
    width: 300px;
}

.project img {
    width: 100%;
}
.project video{
     width: 100%;
 }

/*footer*/

footer {
    text-align: center;
    padding: 20px 0;
    background: #ff7f50;
    color: white;
    
}
